<div class="projects-container">
    <div class="projects-image">
        <img src="/assets/projects/join_photo.png" alt="join_photo">
    </div>
    <div class="projects-info">
        <div class="projects-text">
            <h2>Join</h2>
            <span>HTML | CSS | JavaScript | Firebase </span>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
        </div>
        <div class="projects-button">
            <div class="style-button">
                <a href="#"><span>Github</span></a>
            </div>
            <div class="style-button">
                <a href="#"><span>Live Test</span></a>
            </div>
        </div>
    </div>
</div>
