@import './../../styles.scss';

.projects-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 64px;
    padding: 64px;
    width: 100%;

    &.reverse {
        flex-direction: row-reverse;
        text-align: right;
    
        .projects-info {
          align-items: flex-end;
        }
    
        .projects-text {
          align-items: flex-end;
        }
    
        .projects-button {
          justify-content: flex-end;
        }
    }
}

.projects-image {
    transition: transform 0.3s ease-in-out;

    img {
        flex: 1 1 50%;
        box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.4);
        width: 620px;
        height: auto;
    }

    &:hover {
        transform: translate(0px, -10px) scale(1.1);
    }
}

.projects-info {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    margin: 16px;

    h2{
        font-family: $font-family-1;
        font-size: 48px;
        font-weight: 900;
        color: $secondary-color;
    }

    span {
        font-family: $font-family-2;
        font-size: 24px;
        font-weight: 400;
        color: $secondary-color;
    }

    p {
        font-family: $font-family-2;
        font-size: 16px;
        font-weight: 400;
        color: black;
    }
  }
  

.projects-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.projects-button {
    display: flex;
    gap: 64px;
}

@media screen and (max-width: 1350px) {
    .projects-container {
        padding: 32px;
        gap: 16px;
    }

    .projects-image {    
        img {
            flex: 1 1 50%;
            width: 560px;
        }
    
        &:hover {
            transform: translate(0px, -10px) scale(1.05);
        }
    }

}