<div class="projects-container" [class.reverse]="reverseLayout" data-aos="fade-right">
    <div class="projects-image">
        <img [src]="imageUrl" [alt]="title">
    </div>
    <div class="projects-info">
        <div class="projects-text">
            <h2>{{ title }}</h2>
            <div class="tech-stack">
                @for (tech of techStack; track tech; let i = $index) {
                    <span>
                        {{ tech }} @if (i < techStack.length - 1) { | }
                    </span>
                }
            </div>
            <p data-aos="zoom-in" >{{ description }}</p>
        </div>
        <div class="projects-button">
            <div class="style-button" data-aos="slide-up" > 
                @if (githubLink) {
                    <a [href]="githubLink" target="_blank"><span>Github</span></a>
                }
            </div>
            <div class="style-button" data-aos="slide-up">
                @if (liveLink) {
                    <a [href]="liveLink" target="_blank"><span>Live Test</span></a>
                }
            </div>
        </div>
    </div>
</div>
