@import './../../styles.scss';

.projects-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 64px;
    padding: 64px 0 64px 0;
    width: 100%;
    background-color: transparent;

    &.reverse {
        flex-direction: row-reverse;
        text-align: right;
        
    
        .projects-info {
          align-items: flex-end;
          background-color: transparent;
        }
    
        .projects-text {
          align-items: flex-end;
        }
    
        .projects-button {
          justify-content: flex-end;
        }
    }
}

.projects-image {
    transition: transform 0.3s ease-in-out;
    width: 50%;
    background-color: transparent;

    img {
        box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.4);
        width: 620px;
        height: auto;
    }

    &:hover {
        transform: translate(0px, -10px) scale(1.1);
    }
}

.projects-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    margin: 16px;
    background-color: transparent;

    h2{
        font-family: $font-family-1;
        font-size: 48px;
        font-weight: 900;
        color: $secondary-color;
        background-color: transparent;
    }

    span {
        font-family: $font-family-2;
        font-size: 24px;
        font-weight: 400;
        color: $secondary-color;
        background-color: transparent;
    }

    p {
        font-family: $font-family-2;
        font-size: 16px;
        font-weight: 400;
        color: black;
        background-color: transparent;
    }
  }
  
.tech-stack {
    background-color: transparent;
}

.projects-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: transparent;
}

.projects-button {
    display: flex;
    gap: 64px;
}

@media screen and (max-width: 1350px) {
    .projects-container {
        gap: 16px;
    }

    .projects-image {    
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    .projects-container {
        padding: 32px 0 32px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.reverse {
            flex-direction: column;
            text-align: center;

            .projects-info {
                align-items: center;
              }
          
              .projects-text {
                align-items: center;
                gap: 16px;
                 
                h2 {
                    line-height: 1.2;
                }
              }
          
              .projects-button {
                justify-content: center;
              }
        }
    }
    
    .projects-image {
        width: 100%;
        &:hover {
            transform: translate(0px, -5px) scale(1.05);
        }
    }
    .projects-info {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .projects-text {
        gap: 16px;
        h2 {
            line-height: 1.2;
        }
    }
}

@media screen and (max-width: 650px) {
    .projects-button {
        gap: 32px;
    }
}

@media screen and (max-width: 650px) {
    .projects-button {
        gap: 16px;
    }
}