@import './../../styles.scss';

.hero {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    text-align: center;
    height: 88vh;
    z-index: 1;
    padding: 64px;
    width: 100%;
}

.hero_container {  
    width: 50%;
    position: relative;
    display: flex;
    height: 94.7vh;
    background-color: transparent;

    img {
        position: absolute;
        top: -173px;
        left: 0px;
        width: 761px;
        height: auto;
        z-index: 1;
        background-color: transparent;
    }
    .blue-circle {
        position: absolute;
        top: -196px;
        left: -64px;
    }
}

.headline {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.headline-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: transparent;

    span {
        font-size: 120px;
        font-family: $font-family-1;
        color: $secondary-color;
        font-weight: 900;
        line-height: 90px;
        background-color: transparent;
    }
    h2 {
        font-size: 48px;
        font-family: $font-family-2;
        color: $secondary-color;
        font-weight: 300;
        background-color: transparent;
    }
}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family-2;
    font-size: 16px;
    color: $secondary-color;
    margin-top: 100px;
    background-color: transparent;
  
    .scroll-line {
        width: 2px;
        height: 37.6vh;
        background-color: $secondary-color;
        margin-top: 10px;
    }

    p {
        background-color: transparent;
    }
}

.social-icons {
    position: absolute;
    right: 96px;
    bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: transparent;
  
    a { 
        background-color: transparent;
        img {
            transition: transform 0.3s ease;
            background-color: transparent;
        }

        &:hover {
            transform: translateX(-10px) scale(1.1);
        }
    }
}


@media (max-width: 1350px) {
    .hero {
        padding: 32px;
    }

    .hero_container {
        img {
            top: -140px;
            width: auto;
        }
    }

    .headline-line {
        span {
            font-size: 88px;
            line-height: 60px;
        }
        h2 {
            font-size: 36px;
        }
    }

    .scroll {
        font-size: 14px;
        margin-top: 50px;
    }
        .scroll-line {
            height: 54.6vh !important;
    }
}