<div class="hero">
  <div class="hero_container">
    <img class="blue-circle" src="/assets/header/Ellipse_0.png" alt="Ellipse_0">
    <img class="hero-image" src="/assets/general/photo.png">
  </div>
  <div class="headline">
    <div class="headline-line">
      <h2>Hello! I am Stefan</h2>
      <span>Frontend</span>
      <span>Developer</span>
    </div>
    <div class="scroll">
      <p>SCROLL</p>
      <div class="scroll-line"></div>
    </div>
  </div>
  <div class="social-icons">
    <a href="https://github.com/Faragas91" target="_blank"><img src="/assets/general/github.png" alt="github"></a>
    <a href="#contact-form"><img src="/assets/general/mail.png" alt="mail"></a>
    <a href="https://www.linkedin.com/in/stefanredl" target="_blank"><img src="/assets/general/linkedin.png" alt="linkedin"></a>
  </div>
</div>


  