@import './../../styles.scss';

.hero {
    position: relative;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    height: 100vh;
    overflow: hidden;
}

.hero-container {  
    width: 100%;
    position: relative;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    padding: 0px 64px 0px 64px;
    height: 85.6vh;
}

.hero-left-container {
    width: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        background-color: transparent;
        height: 100%;
        width: auto;
    }
}

.blue-circle {
    position: absolute;
    background-color: transparent;
}

.hero-right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    position: relative;
}

.headline-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: transparent;

    span {
        font-size: 120px;
        font-family: $font-family-1;
        color: $secondary-color;
        font-weight: 900;
        line-height: 90px;
        background-color: transparent;
    }
    h2 {
        font-size: 48px;
        font-family: $font-family-2;
        color: $secondary-color;
        font-weight: 300;
        background-color: transparent;
    }
}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family-2;
    font-size: 16px;
    color: $secondary-color;
    margin-top: 100px;
    background-color: transparent;
  
    .scroll-line {
        width: 2px;
        height: 388px;
        background-color: $secondary-color;
        margin-top: 10px;
    }

    p {
        background-color: transparent;
    }
}

.social-icons {
    position: absolute;
    right: 0px;
    bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: transparent;
  
    a { 
        background-color: transparent;
        img {
            transition: transform 0.3s ease;
            background-color: transparent;
        }

        &:hover {
            transform: translateX(-10px) scale(1.1);
        }
    }
}

@media (max-width: 1350px) {
    .hero-container {
        padding: 0px 32px 0px 32px;
    }

    .headline-line {
        span {
            font-size: 88px;
            line-height: 60px;
        }
        h2 {
            font-size: 32px;
        }
    }
    .scroll-line {
        height: 467px !important;
    }

    .blue-circle {
        width: 600px;
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    .headline-line {
        span {
            font-size: 64px;
            line-height: 50px;
        }
        h2 {
            font-size: 24px;
        }
    }

    .scroll-line {
        height: 492px !important;
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .hero-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .hero-left-container {
        width: 100%;
        img {
            height: 600px;
            width: auto;
        }
    }

    .headline-line {
        span {
            color: $primary-color;
            font-size: 88px;
            line-height: 60px;
        }
        h2 {
            color: $primary-color;
            font-size: 32px;
        }
    }

    .scroll {
        display: none;
    }
    
    .social-icons {
        display: none;
    }

    .blue-circle {
        width: 750px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
   
    .blue-circle {
        width: 600px;
        height: auto;
    }
}

@media screen and (max-width: 630px) {
    .headline-line {
        span {
            font-size: 72px;
            line-height: 50px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .blue-circle {
        left: -100px;
    }

}

@media screen and (max-width: 520px) {
    .blue-circle {
        width: 500px;
        height: auto;
        left: -50px;
    }

    .hero-left-container {
        img {
            height: 650px;
            width: auto;
        }
    }
    
}

@media screen and (max-width: 468px) {

    .blue-circle {
        left: -75px;
    }

    .hero-left-container {
        img {
            height: 600px;
            width: auto;
        }
    }
}

@media screen and (max-width: 440px) {
    .headline-line {
        span {
            font-size: 68px;
            line-height: 45px;
        }
        h2 {
            font-size: 26px;
        }
    }

    .blue-circle {
        width: 450px;
        height: auto;
    }
}
@media screen and (max-width: 415px) {
    .headline-line {
        span {
            font-size: 56px;
            line-height: 40px;
        }
        h2 {
            font-size: 24px;
        }
    }

    .blue-circle {
        width: 420px;
        height: auto;
    }
}

@media screen and (max-width: 360px) {
    .headline-line {
        span {
            font-size: 52px;
            line-height: 40px;
        }
        h2 {
            font-size: 24px;
        }
    }

    .blue-circle {
        width: 380px;
        height: auto;
    }
}