@import './../../styles.scss';

.hero {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 78.5vh;
}

.hero_container {  
    position: relative;
    display: flex;
    img {
        position: relative;
        top: 100px;
        left: 200px;
        width: 600px;
        z-index: 1;
        background-color: transparent;
    }
    .blue-circle {
        position: absolute;
        top: -100px;
        left: -400px;
        width: 800px;
        height: 800px;
        background-color: $secondary-color;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
    }
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        font-size: 120px;
        font-family: $font-family-1;
        color: $secondary-color;
        font-weight: 900;
        line-height: 90px;
    }
    h2 {
        font-size: 48px;
        font-family: $font-family-2;
        color: $secondary-color;
        font-weight: 300;
    }
}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family-2;
    font-size: 16px;
    color: $secondary-color;
    margin-top: 100px;
  
    .scroll-line {
        width: 2px;
        height: 39vh;
        background-color: $secondary-color;
        margin-top: 10px;
    }
}

.social-icons {
    position: absolute;
    right: 32px;
    bottom: 140px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    a { 
        img {
            transition: transform 0.3s ease;
        }

        &:hover {
            transform: translateX(-10px) scale(1.1);
        }
    }
}
  