<div class="hero">
  <div class="hero_container">
    <div class="blue-circle">
      <img src="/assets/general/photo.png">
    </div>
  </div>
  <div class="headline">
    <h2>Hello! I am Stefan</h2>
    <span>Frontend</span>
    <span>Developer</span>
    <div class="scroll">
      <p>SCROLL</p>
      <div class="scroll-line"></div>
    </div>
  </div>
  <div class="social-icons">
    <a href="#"><img src="/assets/general/github.png" alt="github"></a>
    <a href="#"><img src="/assets/general/mail.png" alt="mail"></a>
    <a href="#"><img src="/assets/general/linkedin.png" alt="linkedin"></a>
  </div>
</div>


  