<div class="about-me">
    <img class="ellipse1" src="/assets/aboutme/Ellipse_1.png" alt="line">
    <img class="ellipse2" src="/assets/aboutme/Ellipse_2.png" alt="line">
    <div class="lets-work-together">
        <span>Let's work<br> together</span>
        <p>I am</p>
        <div class="work-location">
            <div class="location">
                <img class="default" src="/assets/aboutme/location_default.png" alt="location_default">
                <img class="hover" src="/assets/aboutme/location_hover.png" alt="location_hover">
                <span>located in Niederösterreich</span>
            </div>
            <div class="remote">
                <img class="default" src="/assets/aboutme/remote_default.png" alt="remote_default">
                <img class="hover" src="/assets/aboutme/remote_hover.png" alt="remote_hover">
                <span>open to work remote</span>
            </div>
            <div class="relocate">
                <img class="default" src="/assets/aboutme/relocate_default.png" alt="relocate_default">
                <img class="hover" src="/assets/aboutme/relocate_hover.png" alt="relocate_hover">
                <span>open to relocate</span>
            </div>
        </div>
    
    </div>
    <div class="about-me-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, repellat maxime soluta consequuntur labore voluptatibus vel veritatis dolore. Suscipit necessitatibus deserunt velit quibusdam incidunt, voluptas ad tenetur minima? Facilis, natus!
        </p>
        <div class="style-button">
            <a href="#"><span>Send a message</span></a>
        </div>
    </div>
</div>
