@import './../../../styles.scss';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    font-family: $font-family-2;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        color: $secondary-color;
        gap: 64px;

        li {
            position: relative;
            font-weight: 400;
          
            &::after {
              content: attr(data-text);
              font-weight: 700;
              visibility: hidden;
              height: 0;
              overflow: hidden;
              display: block;
            }

            a {
                text-decoration: none; 
                color: $secondary-color;
                font-size: 24px;
                margin-left: 6.5px;

                &:hover {
                    font-weight: 700;
                    color: $secondary-color;
                    margin-left: 0px;
                  }
            }
        }
    }

    div {
        display: flex;
        margin-left: 50px;
        font-size: 24px;
        gap: 8px;

        span {
            &:hover {
                cursor: pointer;
                font-weight: 700;
                font-size: 24px;
            }
        }
    }
}

.active {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    text-decoration-color: $secondary-color;
}

@media screen and (max-width: 1350px) {
    nav {
        ul {
            gap: 32px;
        }

        div {
            margin-left: 0px;
            gap: 16px;
        }
    }
    
}

