<nav>
    <ul>
        <li><a href="#about-me">{{ navAboutMe }}</a></li>
        <li><a href="#skills">{{ navSkills }}</a></li>
        <li><a href="#my-work">{{ navMyWork }}</a></li>
        <div>
            <span (click)="switchToGerman()" #german>DE</span> /
            <span (click)="switchToEnglish()" #english>EN</span>
        </div>
    </ul>
</nav>
<div class="hamburger-menu" (click)="toggleHamburgerMenu()">
    <img src="/assets/header/hamburger_0.png">
    <img src="/assets/header/hamburger_1.png">
    <img src="/assets/header/hamburger_2.png">
    <img src="/assets/header/hamburger_4.png">
</div>
