<div class="page-container">
  <app-header></app-header>
  <app-hero></app-hero>
  <app-about-me></app-about-me>
  <app-skills></app-skills>
  <app-my-work></app-my-work>
  @for (project of projects; track project; let i = $index) {
    <app-projects
      [imageUrl]="project.imageUrl"
      [title]="project.title"
      [techStack]="project.techStack"
      [description]="project.description"
      [githubLink]="project.githubLink"
      [liveLink]="project.liveLink"
      [reverseLayout]="i % 2 === 1"
    ></app-projects>
  }
    <app-teamplayer [colleagues]="colleagues"></app-teamplayer>
  <app-contact-form></app-contact-form>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>