@import './../../styles.scss';

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 64px;
  }
  
  .my-work-text {
    flex: 1 1 50%;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  
    span {
      font-family: $font-family-1;
      font-size: 96px;
      font-weight: 900;
      color: $secondary-color;
      position: relative;
      display: inline-block;
  
      img {
        position: absolute;
        top: -40px;
        right: -40px;
        background-color: transparent;
      }
    }
  
    p {
      font-family: $font-family-2;
      font-size: 24px;
      color: black;
      max-width: 90%;
    }
  }
  
  .my-work-image {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 32vh;
  
    img {
      width: 200px;
      height: auto;
    }
  }
  
@media screen and (max-width: 1350px) {
    .my-work {
      padding: 32px;
    }
}

@media (max-width: 1024px) {
  .my-work-image {
    display: none;
  }
  .my-work-text {
    gap: 16px;
    span {
      font-size: 72px;
      img {
        top: -30px;
        right: 20px;
        width: 45px;
        height: 45px;
      }
    }
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .my-work {
    padding: 16px;
  }
  .my-work-text {
    span {
      font-size: 64px;
      img {
        right: 10px;
      }
    }
    p {
      font-size: 16px;
    } 
  }

}