@import './../../styles.scss';

.my-work-section {
  background-color: $primary-color;
  width: 100%;
}

.my-work-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 64px;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
  }

  .ellipse-5 {
    position: absolute;
    width: 393px;
    height: auto;
    top: 500px;
    left: -200px;
  }

  .ellipse-6 {
    position: absolute;
    top: 1350px;
    left: 50px;
  }

  .ellipse-7 {
    position: absolute;
    width: 650px;
    top: 920px;
    right: -200px;
  }

  .ellipse-8 {
    position: absolute;
    bottom: 75px;
    left: 150px;
  }
  
  .my-work-text {
    flex: 1 1 50%;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  
    span {
      font-family: $font-family-1;
      font-size: 96px;
      font-weight: 900;
      color: $secondary-color;
      position: relative;
      display: inline-block;
      line-height: 1;
  
      img {
        position: absolute;
        top: -40px;
        right: -40px;
        background-color: transparent;
      }
    }
  
    p {
      font-family: $font-family-2;
      font-size: 24px;
      color: black;
      max-width: 90%;
    }
  }
  
  .my-work-image {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 32vh;
  
    img {
      width: 200px;
      height: auto;
    }
  }
  
@media screen and (max-width: 1350px) {
    .my-work-main-container {
      padding: 32px;
    }

    .ellipse-8 {
      bottom: 200px;
      left: 0px;
    }
}

@media (max-width: 1024px) {
  .my-work-image {
    display: none;
  }
  .my-work-text {
    gap: 16px;
    span {
      font-size: 72px;
      img {
        top: -30px;
        right: 20px;
        width: 45px;
        height: 45px;
      }
    }
    p {
      font-size: 20px;
    }
  }

  .ellipse-8 {
    top: 2000px;
  }
}

@media (max-width: 768px) {
  .my-work-main-container {
    padding: 16px;
  }
  .my-work-text {
    span {
      font-size: 64px;
      img {
        right: 10px;
      }
    }
    p {
      font-size: 16px;
    } 
  }

  .ellipse-5 {
    top: 400px;
  }

  .ellipse-6 {
    display: none;
  }

  .ellipse-8 {
    top: 1800px;
  }
}

@media screen and (max-width: 600px) {
  .ellipse-7 {
    width: 500px;
    top: 800px;
  }
  
}

@media screen and (max-width: 480px) {

  .ellipse-5 {
    top: 300px;
  }

  .ellipse-8 {
    top: 1700px;
    left: -100px;
  }
}