@import './../../../styles.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px 32px 64px;

    a {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 100px;
            height: 100px;
            background-color: transparent;
            z-index: 2;
    
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }
    }

}