<div class="privacy-policy-section">
    <app-header></app-header>
    <div class="privacy-policy-container">
        <img class="ellipse-0" src="assets/header/Ellipse_0.png" alt="Ellipse 0">
        <div class="privacy-policy-text">
            <h1 [innerHTML]="privacyPolicy.title"></h1>
            <p> {{ privacyPolicy.lastUpdated }}</p>

            <h2 [innerHTML]="privacyPolicy.tableOfContents"></h2>
            <ul class="index">
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m3"> Controller </a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="mOverview"> {{ privacyPolicy.overviewOfProcessingOperations }}</a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m2427"> {{ privacyPolicy.applicableLegalBases }}</a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m27"> {{ privacyPolicy.securityMeasures }}</a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m25"> {{ privacyPolicy.transferOfPersonalData }}</a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m12"> {{ privacyPolicy.dataStorage }}</a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m10"> {{ privacyPolicy.rightsOfDataSubjects }} </a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m317"> {{ privacyPolicy.businessServices }} </a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m225"> {{ privacyPolicy.provisionOfOnlineServices }} </a></li>
                <li><a class="index-link" [routerLink]="['/privacy-policy']" fragment="m134"> {{ privacyPolicy.useOfCookies }} </a></li>
            </ul>

            <h2 id="m3" [innerHTML]="privacyPolicy.personResponsible"></h2>
            <p>Stefan, Redl<br>
            Gaadner Straße 21/f/2<br>
            2371 Hinterbruhl</p>
            <p>Email Address: 
                <a href="mailto:stefanredl@gmx.at">stefanredl&#64;gmx.at</a>
            </p>

            <h2 id="mOverview" [innerHTML]="privacyPolicy.overviewOfProcessingOperations"></h2>
            <p> {{ privacyPolicy.overviewOfProcessingText1 }} </p>

            <h3> {{ privacyPolicy.overviewOfProcessingText2 }}</h3>
            <ul>
                <li> {{ privacyPolicy.inventoryData }} </li>
                <li> {{ privacyPolicy.paymentData }} </li>
                <li> {{ privacyPolicy.contactData }} </li>
                <li> {{ privacyPolicy.contentData }} </li>
                <li> {{ privacyPolicy.contractData }} </li>
                <li> {{ privacyPolicy.usageData }} </li>
                <li> {{ privacyPolicy.meta}} </li>
                <li> {{ privacyPolicy.logData}} </li>
            </ul>

            <h3> {{ privacyPolicy.categoriesOfDataSubjects}} </h3>
            <ul>
                <li> {{ privacyPolicy.recipientsOfServicesAndContractingParties }} </li>
                <li> {{ privacyPolicy.interestedParties }} </li>
                <li> {{ privacyPolicy.communicatingPartners}} </li>
                <li> {{ privacyPolicy.users}} </li>
                <li> {{ privacyPolicy.businessAndContractualPartners}} </li>
            </ul>

            <h3> {{ privacyPolicy.purposesOfProcessing}} </h3>
            <ul>
                <li> {{ privacyPolicy.provisionOfContractualServices}} </li>
                <li> {{ privacyPolicy.communication}} </li>
                <li> {{ privacyPolicy.securityMeasures}} </li>
                <li> {{ privacyPolicy.office}} </li>
                <li> {{ privacyPolicy.organization}} </li>
                <li> {{ privacyPolicy.feedback}} </li>
                <li> {{ privacyPolicy.provisionOfServices}} </li>
                <li> {{ privacyPolicy.infrastructure}} </li>
                <li> {{ privacyPolicy.economic}} </li>
            </ul>

            <h2 id="m2427" [innerHTML]="privacyPolicy.applicableLegalBases"> </h2>
            <p><strong> {{ privacyPolicy.applicableLegalBasesUnderGDPR}} </strong> {{ privacyPolicy.applicableLegalBasesUnderGDPRText }} </p>

            <ul>
                <li><strong> {{ privacyPolicy.consent }} </strong> {{ privacyPolicy.consentText }} </li>
                <li><strong> {{ privacyPolicy.contract }} </strong> {{ privacyPolicy.contractText }} </li>
                <li><strong> {{ privacyPolicy.legalObligation }} </strong> {{ privacyPolicy.legalObligationText }} </li>
                <li><strong> {{ privacyPolicy.legalInterest }} </strong> {{ privacyPolicy.legalInterestText }} </li>
            </ul>

            <p><strong> {{ privacyPolicy.nationalDataProtectionRegulations }} </strong> {{ privacyPolicy.nationalDataProtectionRegulationsText }} </p>

            <p><strong> {{ privacyPolicy.swissFADP}} </strong> {{ privacyPolicy.swissFADPText }} </p>

            <h2 id="m27" [innerHTML]="privacyPolicy.securityMeasures"></h2>
            <p> {{ privacyPolicy.securityMeasuresText1 }} </p>

            <p> {{ privacyPolicy.securityMeasuresText2 }} </p>

            <h2 id="m25" [innerHTML]="privacyPolicy.transferOfPersonalData"></h2>
            <p> {{ privacyPolicy.transferOfPersonalDataText }} </p>

            <h2 id="m12" [innerHTML]="privacyPolicy.generalInformation"></h2>
            <p> {{ privacyPolicy.generalInformationText1 }} </p>
            <p> {{ privacyPolicy.generalInformationText2 }} </p>
            <p> {{ privacyPolicy.generalInformationText3 }} </p>
            <p> {{ privacyPolicy.generalInformationText4 }} </p>
            <p> {{ privacyPolicy.generalInformationText5 }} </p>
            <p> {{ privacyPolicy.generalInformationText6 }} </p>
            <p><strong> {{ privacyPolicy.furtherNotes}} </strong></p>
            <ul class="m-elements">
                <li><strong> {{ privacyPolicy.retentionAndDeletion }} </strong>
                    <ul>
                    <li> {{ privacyPolicy.retentionAndDeletion10Years }} </li>
                    <li> {{ privacyPolicy.retentionAndDeletion6Years }} </li>
                    <li> {{ privacyPolicy.retentionAndDeletion3Years }} </li>
                    </ul>
                </li>
            </ul>

            <h2 id="m10"> {{ privacyPolicy.rightsOfDataSubjects }} </h2>
            <p> {{ privacyPolicy.rightsOfDataSubjectsText }} </p>
            <ul>
                <li><strong> {{ privacyPolicy.rightToObject }} </strong> {{ privacyPolicy.rightToObjectText}} </li>
                <li><strong> {{ privacyPolicy.rightToWithdraw }} </strong> {{ privacyPolicy.rightToWithdrawText}} </li>
                <li><strong> {{ privacyPolicy.rightToAccess }} </strong> {{ privacyPolicy.rightToAccessText }} </li>
                <li><strong> {{ privacyPolicy.rightToRectification }} </strong> {{ privacyPolicy.rightToRectificationText}} </li>
                <li><strong> {{ privacyPolicy.rightToErasure }} </strong> {{ privacyPolicy.rightToErasureText }} </li>
                <li><strong> {{ privacyPolicy.rightToDataPortability }} </strong> {{ privacyPolicy.rightToDataPortabilityText}} </li>
                <li><strong> {{ privacyPolicy.rightToLodgeComplaint }} </strong> {{ privacyPolicy.rightToLodgeComplaintText}} </li>
            </ul>

            <h2 id="m317"> {{ privacyPolicy.businessServices }} </h2>
            <p> {{ privacyPolicy.businessServicesText1 }} </p>
            <p> {{ privacyPolicy.businessServicesText2 }}</p>
            <p> {{ privacyPolicy.businessServicesText3 }} </p>
            <p> {{ privacyPolicy.businessServicesText4 }} </p>
            <ul class="m-elements">
                <li><strong> {{ privacyPolicy.processedDataTypes }} </strong> {{ privacyPolicy.businessProcessedDataTypesText }} </li>
                <li><strong> {{ privacyPolicy.affectedPersons }} </strong> {{ privacyPolicy.businessAffectedPersonsText }} </li>
                <li><strong> {{ privacyPolicy.businessPurposesOfProcessing }} </strong> {{ privacyPolicy.businessPurposesOfProcessingText }} </li>
                <li><strong> {{ privacyPolicy.businessRetentionAndDeletion }} </strong> {{ privacyPolicy.businessRetentionAndDeletionText }} </li>
                <li><strong> {{ privacyPolicy.legalBases }} </strong> {{ privacyPolicy.businessLegalBasesText }} </li>
            </ul>
            <p><strong> {{ privacyPolicy.furtherNotes}} </strong></p>
            <ul class="m-elements">
                <li><strong> {{ privacyPolicy.onlineShop }} </strong> {{ privacyPolicy.onlineShopText }} </li>
                <li><strong> {{ privacyPolicy.onlineShopLegalBases}} </strong> {{ privacyPolicy.onlineShopLegalBasesText }} </li>
            </ul>
            <h2 id="m225"> {{ privacyPolicy.provisionOfOnlineServicesAndWebhosting }} </h2>
            <p> {{ privacyPolicy.provisionOfOnlineServicesAndWebhostingText }} </p>
            <ul class="m-elements">
                <li><strong> {{ privacyPolicy.processedDataTypes }} </strong> {{ privacyPolicy.provisionProcessedDataTypesText }} </li>
                <li><strong> {{ privacyPolicy.affectedPersons }} </strong> {{ privacyPolicy.provisionAffectedPersonsText }} </li>
                <li><strong> {{ privacyPolicy.provisionPurposesOfProcessing }} </strong> {{ privacyPolicy.provisionPurposesOfProcessingText }} </li>
                <li><strong> {{ privacyPolicy.provisionRetentionAndDeletion }} </strong> {{ privacyPolicy.provisionRetentionAndDeletionText }} </li>
                <li><strong> {{ privacyPolicy.legalBases }} </strong> {{ privacyPolicy.provisionLegalBasesText }} </li>
            </ul>
            <p><strong> {{ privacyPolicy.furtherNotes }} </strong></p>
            <ul class="m-elements">
                <li><strong> {{ privacyPolicy.collectionOfAccessData }} </strong> {{ privacyPolicy.collectionOfAccessDataText }} </li>
                <li><strong> {{ privacyPolicy.collectionOfAccessDataLegalBasis }} </strong> {{ privacyPolicy.collectionOfAccessDataLegalBasisText }} </li>
                <li><strong> {{ privacyPolicy.collectionOfAccessDataDataDeletion }} </strong> {{ privacyPolicy.collectionOfAccessDataDataDeletionText }} </li>
            </ul>
            <h2 id="m134"> {{ privacyPolicy.useOfCookies }} </h2>
            <p> {{ privacyPolicy.useOfCookiesText }} </p>
            <p><strong> {{ privacyPolicy.useOfCookiesNotesOnLegalBases }} </strong> {{ privacyPolicy.useOfCookiesNotesOnLegalBasesText }} </p>
            <p><strong> {{ privacyPolicy.useOfCookiesRetention }} </strong> {{ privacyPolicy.useOfCookiesRetentionText }} </p>
            <ul>
                <li><strong> {{ privacyPolicy.useOfCookiesTemporaryCookies }} </strong> {{ privacyPolicy.useOfCookiesTemporaryCookiesText }} </li>
                <li><strong> {{ privacyPolicy.useOfCookiesPermanentCookies }} </strong> {{ privacyPolicy.useOfCookiesPermanentCookiesText }} </li>
            </ul>
            <p><strong> {{ privacyPolicy.useOfCookiesOptOut }} </strong> {{ privacyPolicy.useOfCookiesOptOutText }} </p>
            <ul class="m-elements">
                <li><strong> {{ privacyPolicy.processedDataTypes }} </strong> {{ privacyPolicy.useOfCookiesProcessedDataTypesText }} </li>
                <li><strong> {{ privacyPolicy.affectedPersons }} </strong> {{ privacyPolicy.useOfCookiesAffectedPersonsText }} </li>
                <li><strong> {{ privacyPolicy.legalBases }} </strong> {{ privacyPolicy.useOfCookiesLegalBasesText }} </li>
            </ul>
            <p><strong> {{ privacyPolicy.furtherNotesOnProcessingActivitiesAndProcedures }} </strong></p>
        </div>
        <img class="ellipse-3" src="assets/projects/Ellipse_3.png" alt="Ellipse 3">
        <img class="ellipse-4" src="assets/projects/Ellipse_4.png" alt="Ellipse 4">
        <img class="ellipse-5" src="assets/projects/Ellipse_5.png" alt="Ellipse 5">
        <img class="ellipse-6" src="assets/projects/Ellipse_6.png" alt="Ellipse 6">
        <img class="ellipse-7" src="assets/projects/Ellipse_7.png" alt="Ellipse 7">
        <img class="ellipse-8" src="assets/projects/Ellipse_8.png" alt="Ellipse 8">
        <img class="ellipse-9" src="assets/contact/Ellipse_9.png" alt="Ellipse 9">
        <img class="ellipse-10" src="assets/contact/Ellipse_10.png" alt="Ellipse 10">
        <img class="ellipse-11" src="assets/contact/Ellipse_11.png" alt="Ellipse 11">
    </div> 
</div> 