.privacyPolicy__container{
    max-width: 1440px;
    margin: auto;
    text-align: center;
}

.privacyPolicy__container li {
    list-style: none;
}

ul {
    margin-bottom: 32px;
}

@media  (max-width: 1000px) {

    .privacyPolicy__container {
        padding: 32px 40px 32px 40px;
    }
}

@media (max-width: 800px) {

    .privacyPolicy__container{
        padding-bottom: 128px;
    }
}

@media (max-width: 471px) {

    .privacyPolicy__container {
        padding: 32px 2px 0px 2px;
        font-size: 16px;
    }

    .privacyPolicy__container h1 {
        font-size: 64px;
    }

}