<footer>
    <div class="footer-main-content">
        <a href="#header"><img src="/assets/general/logo.png" alt="Logo" class="logo" /></a>
        <div class="footer-content">
            <p>&copy; Stefan Redl 2025</p>
            <a class="legal-notice-desktop"
                [routerLink]="['/legal-notice']"
                target="_blank"
                rel="noopener noreferrer">
                {{ legalNotice }}
            </a>
        </div>
        <div class="social-icons">
            <a href="https://github.com/Faragas91" target="_blank"><img src="/assets/general/github.png" alt="github"></a>
            <a href="#contact-form"><img src="/assets/general/mail.png" alt="mail"></a>
            <a href="https://www.linkedin.com/in/stefanredl" target="_blank"><img src="/assets/general/linkedin.png" alt="linkedin"></a>
        </div>
        <a class="legal-notice-mobile"
            [routerLink]="['/legal-notice']"
            target="_blank"
            rel="noopener noreferrer">
            {{ legalNotice }}
        </a>
    </div>
</footer>
