<footer>
    <div class="footer-main-content">
        <img src="/assets/general/logo.png" alt="Logo" class="logo" />
        <div class="footer-content ">
            <p>&copy; Stefan Redl 2025</p>
            <a href="#">Legal Notice</a>
        </div>
        <div class="social-icons">
            <a href="#"><img src="/assets/general/github.png" alt="github"></a>
            <a href="#"><img src="/assets/general/mail.png" alt="mail"></a>
            <a href="#"><img src="/assets/general/linkedin.png" alt="linkedin"></a>
        </div>
    </div>
</footer>