@import './../../../styles.scss';

footer {
    background: linear-gradient(135deg, #5988ff, #0044ff);
}

.footer-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 64px;

    .logo {
        background-color: transparent;
        width: 100px;
        height: 100px;
    }

    a {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }

    }


}

.footer-content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    a {
      position: relative;
      background-color: transparent;
      text-decoration: none;
      color: $primary-color;
      font-size: 16px;
      font-family: $font-family-2;

      &:hover {
        font-weight: 600;
      }
    
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 50%;
        height: 2px;
        background-color: $primary-color;
        transform: translate(-50%) scaleX(0);
        transform-origin: left;
        transition: transform 125ms ease-in-out;
      }
    
      &:hover::after {
        transform: translate(-50%) scaleX(1);
      }
    }
    

    p {
        background-color: transparent;
        font-size: 24px;
        font-family: $font-family-2;
    }
}

.social-icons {
    background-color: transparent;
    display: flex;
    gap: 32px;

    a {
        background-color: transparent;

        img {
            width: 30px;
            background-color: transparent;
            filter: brightness(0) invert(1);

            &:hover {
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                transform: translate(5px, 0px) scale(1.5);
                
            }
        }
    }
}

