@import './../../styles.scss';

.contact-form-main-container {
  display: flex;
  justify-content: space-between;
  background-color: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
  width: 100%;
  padding: 64px;
}

.contact-form-left-container {
  position: relative;
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 90px;
    font-weight: 700;
    color: $secondary-color;
    margin-bottom: 32px;
    margin-top: 75px;
;
  }
  h3 {
    font-size: 32px;
    font-weight: 700;
    color: $secondary-color;
    font-family: $font-family-2;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 16px;
  }

  .contact-me {
    display: flex;
    align-items: center;
    gap: 8px; 
    font-family: $font-family-1;
    color: $secondary-color;
    margin-bottom: 16px;

    p {
      font-weight: 700;
    }
  }
  .up-button {
    width: 39px;
    height: 39px;
  }
}

.contact-form-right-container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  form {
    margin-top: 230px;
  }
}

.ellipse-9 {
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 15%;
  width: 131px;
  height: 131px;
}

.ellipse-10 {
  background-color: transparent;
  position: absolute;
  top: 55%;
  left: 50%;
}

.ellipse-11 {
  width: 73px;
  height: 73px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 16px; /* Some padding */ 
    border: 1px solid $secondary-color; /* Gray border */
    background-color: $primary-color; /* Light gray background */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: 16px;
    font-family: $font-family-2;
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 16px; /* Some padding */ 
    border: 1px solid $secondary-color; /* Gray border */
    background-color: $primary-color; /* Light gray background */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: 16px;
    font-family: $font-family-2;
}
  
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  height: 64px;
  margin: 0 auto;
  font-family: $font-family-2;
  font-size: 24px;
  text-decoration: none;
  color: $secondary-color;
  background-color: transparent;
  border: 2px solid $secondary-color;
  border-radius: 10px;
  position: relative;
  transition: all 0.35s ease;
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 0;
    height: 100%;
    background: linear-gradient(135deg, $secondary-color 0%, $primary-color 100%);
    transition: all 0.35s ease;
    z-index: 1;
    transform: skewX(-45deg);
  }

  span {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    transform: translate(0, 0) scale(1.05);

    &::after {
      width: 150%;
      opacity: 0;
    }
  }
}
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .custom-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0 32px 0px;
  
    input[type="checkbox"] {
      width: 24px;
      height: 24px;
      appearance: none; /* Browser Default entfernen */
      border: 2px solid $secondary-color; /* Deine Wunschfarbe */
      border-radius: 6px;
      background-color: $primary-color;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;
  
      &:checked {
        background-color: $secondary-color;
        border-color: $secondary-color;
      }
  
      &:checked::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid $primary-color;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: all 0.3s ease;
      }
    }
  
    label {
      font-family: $font-family-2;
      font-size: 14px;
      color: black;
    }
  }
  
  