<div class="contact-form-main-container" id="contact-form">
  <div class="contact-form-left-container">
    <div class="contact-text">
      <h2>{{ contact }}</h2>
      <h3>{{ contactProblem }}</h3>
      <h4>{{ contactDescription }}</h4>
      <div class="contact-me">
        <span>{{ needADeveloper }}</span>
        <p>{{ contactMe }}</p>
      </div>
      <img class="ellipse-10" src="/assets/contact/Ellipse_10.png" alt="Ellipse 10">
    </div>
    <button class="scroll-top-button">
      <a href="#header"><img src="/assets/contact/scroll-top.png" alt="Scroll to top"></a>
    </button>
  </div>
  <div class="contact-form-right-container">
    <img class="ellipse-9" src="/assets/contact/Ellipse_9.png" alt="Ellipse 9">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  
      <label for="name">Name</label>
      <input [(ngModel)]="contactData.name"  type="text" id="name" name="name" placeholder="{{ yourName }}" required>
  
      <label for="email">Email</label>
      <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="{{ yourEmail }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
  
      <label for="message">Subject</label>
      <textarea #message="ngModel" minlength="5" [(ngModel)]="contactData.message" id="message" name="message" placeholder="{{ yourMessage }}" style="height:200px" required></textarea>
        @if (!message.valid && message.touched && !message.disabled) {
            <div class="error-message">Message is required</div>
        }
        <div class="custom-checkbox">
          <input type="checkbox" id="myCheckbox">
          <label for="myCheckbox">{{ privacyPolicy }}</label>
        </div>
        <button type="submit" class="submit-button">
          {{ sayHello }}
        </button>
    </form>
    <img class="ellipse-11" src="/assets/contact/Ellipse_11.png" alt="Ellipse 11">
  </div>
</div>




