<div class="contact-form-section">
  <div class="contact-form-main-container" id="contact-form" data-aos="fade-left">
    <div class="contact-form-left-container">
      <div class="contact-text">
        <h2>{{ contact }}</h2>
        <h3>{{ contactProblem }}</h3>
        <h4>{{ contactDescriptionFirstSection }}</h4>
        <h4>{{ contactDescriptionSecondSection }}</h4>
        <h4>{{ contactDescriptionThirdSection }}</h4>
        <div class="contact-me">
          <span>{{ needADeveloper }}</span>
          <p>{{ contactMe }}</p>
        </div>
        <img class="ellipse-10" src="assets/contact/Ellipse_10.png" alt="Ellipse 10">
      </div>
    </div>
    <div class="contact-form-right-container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="floating-label">
          <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder=" " required />
          <label for="name">{{ yourName }}</label>
          @if (!name.valid && name.touched && !name.disabled) {
            <div class="error-name">Your name is required</div>
            <img class="error-icon" src="assets/contact/error.png" alt="Error">
          }
          @if (name.valid && name.touched && !name.disabled) {
            <img class="done-icon" src="assets/contact/done.png" alt="Done">
          }
        </div>
    
        <div class="floating-label">
          <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder=" " required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
          <label for="email">{{ yourEmail }}</label>
          @if (!email.valid && email.touched && !email.disabled) {
            <div class="error-email">Your email is required</div>  
            <img class="error-icon" src="assets/contact/error.png" alt="Error">
          }
          @if (email.valid && email.touched && !email.disabled) {
            <img class="done-icon" src="assets/contact/done.png" alt="Done">
          }
        </div>
        <div class="floating-label">
          <textarea #message="ngModel" minlength="5" [(ngModel)]="contactData.message" id="message" name="message" placeholder=" " style="height:200px" required></textarea>
          <label for="message">{{ yourMessage }}</label>
          @if (!message.valid && message.touched && !message.disabled) {
              <div class="error-message">Your message is required</div>
              <img class="error-icon" src="assets/contact/error.png" alt="Error">
          } 
          @if (message.valid && message.touched && !message.disabled) {
            <img class="done-icon" src="assets/contact/done.png" alt="Done">
          }
        </div>
        <div class="custom-checkbox">
          <input type="checkbox" #myCheckbox="ngModel" name="privacyPolicy" [(ngModel)]="privacyPolicyChecked" required>
          <label for="myCheckbox">
            {{ privacyPolicyText1 }}
            <a [routerLink]="'/privacy-policy'" target="_blank" rel="noopener noreferrer">
              {{ privacyPolicyLink }}
            </a>
            {{ privacyPolicyText2 }}
          </label>
        </div>
        @if (!myCheckbox.valid && myCheckbox.touched && !myCheckbox.disabled) {
          <div class="error-message">Please accept the privacy policy</div>
        }
        <button 
          type="submit" 
          class="submit-button" 
          [disabled]="!isFromValied()"
          [ngClass]="{ 'disabled-button': !isFromValied(), 'active-button': isFromValied() }">
          {{ sayHello }}
        </button>
      </form>
      <img class="ellipse-11" src="assets/contact/Ellipse_11.png" alt="Ellipse 11">
    </div>
    <div 
      [ngClass]="{ 'message-sent': messageSent, 'message-not-sent': !messageSent }">
      <span [innerHTML]="messageSentText"></span>
    </div>
    <img class="ellipse-9" src="assets/contact/Ellipse_9.png" alt="Ellipse 9">
    <button class="scroll-top-button">
      <a href="#header"><img src="assets/contact/scroll-top.png" alt="Scroll to top"></a>
    </button>
  </div>
</div>






