@import './../../styles.scss';

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.title_container {  
    display: flex;
    justify-content: space-around;
    background-image: url("/assets/header/Ellipse_0.png");
    background-repeat: no-repeat;
    img {
        width: 450px;
    }
}
  
.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
        font-size: 96px;
        font-family: $font-family-1;
        color: $secondary-color;
        font-weight: 900;
        line-height: 90px;
    }
    h2 {
        font-size: 32px;
        font-family: $font-family-2;
        color: $secondary-color;
        font-weight: 300;
    }
}
  