@import './../../../styles.scss';

.legal-notice-container {
    max-width: 1920px;
    margin: auto;
    text-align: center;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    position: relative;
    height: 100vh;
    color: $secondary-color;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    h1{
        background-color: transparent;
    }

    p {
        background-color: transparent;
    }

    a {
        background-color: transparent;
    }

    b {
        background-color: transparent;
    }
}

@media  (max-width: 1000px) {

    .legal-notice-container {
        padding: 136px 40px 32px 40px;
    }
}

@media (max-width: 800px) {

    .legal-notice-container {
        padding-bottom: 128px;
    }
}

@media (max-width: 471px) {

    .legal-notice-container {
        padding: 136px 2px 136px 2px;
        font-size: 16px;
    }

    .legal-notice-container h1 {
        font-size: 64px;
    }
}




