<app-header></app-header>
<div class="legal-notice-container">
  <div class="legal-notice-text">
    <h1>Legal Notice</h1>

    <p><strong>Information and disclosure according to §5 (1) ECG, §25 MedienG, §63 GewO and §14 UGB</strong></p>
    <p><strong>Website operator:</strong> Stefan Redl</p>
    <p><strong>Address:</strong> Gaadner Straße 21/f/2, 2371 Hinterbrühl</p>
    <p><strong>UID no:</strong><br><strong>Trade supervisory authority:</strong><br><strong>Memberships:</strong></p>

    <p>
      <strong>Contact details:</strong><br>
      Phone: 0677/62650062<br>
      Email: stefanredl&#64;gmx.at
    </p>

    <p><strong>Applicable legislation:</strong> www.ris.bka.gv.at</p>

    <p>
      <strong>Online dispute resolution:</strong>
      Consumers... 
      <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">ODR platform</a>
    </p>

    <p><strong>Copyright:</strong> The contents of this website ...</p>
    <p><strong>Disclaimer:</strong> Despite careful checking ...</p>

    <p>
      Source:
      <a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php" target="_blank" rel="noopener">
        Imprint Generator Austria
      </a>
    </p>
  </div>
  <img class="ellipse-3" src="assets/projects/Ellipse_3.png" alt="Ellipse_3">
  <img class="ellipse-7" src="assets/projects/Ellipse_7.png" alt="Ellipse 7">
</div>

