<app-header></app-header>
<div class="legal-notice-container">
  <img class="ellipse-0" src="assets/header/Ellipse_0.png" alt="Ellipse 0">
  <div class="legal-notice-text">
    <h1>{{ legalNotice.title }}</h1>

    <p><strong>{{ legalNotice.intro }}</strong></p>
    <p><strong>{{ legalNotice.operator }}</strong></p>
    <p><strong>{{ legalNotice.address }}</strong></p>
    <p><strong>{{ legalNotice.UIDTradeMembership }}</strong></p>

    <p>
      <strong>{{ legalNotice.contact }}</strong>
    </p>

    <p><strong>{{ legalNotice.law }}</strong></p>

    <p>
      <strong>{{ legalNotice.ODR }}</strong>
      <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">
        {{ legalNotice.ODRLink }}
      </a>
    </p>

    <p><strong>{{ legalNotice.copyright }}</strong></p>
    <p><strong>{{ legalNotice.disclaimer }}</strong></p>

    <p>
      {{ legalNotice.source }}
      <a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php" target="_blank" rel="noopener">
        Imprint Generator Austria
      </a>
    </p>

  </div>
  <img class="ellipse-3" src="assets/projects/Ellipse_3.png" alt="Ellipse_3">
  <img class="ellipse-7" src="assets/projects/Ellipse_7.png" alt="Ellipse 7">
</div>

