<div class="legal-notice-container">
    <div class="style-button" (click)="goBack()">
        <a>
            <span>Back</span>
        </a>
    </div>  
    <h1 class="title">Imprint</h1>
  
    <p><b>Information and disclosure according to §5 (1) ECG, §25 MedienG, §63 GewO and §14 UGB</b></p>
    <p><b>Website operator:</b> Stefan Redl</p>
    <p><b>Address:</b> Gaadner Straße 21/f/2, 2371 Hinterbrühl</p>
    <p><b>UID no:</b> <br><b>Trade supervisory authority:</b> <br><b>Memberships:</b></p>
    <p>
      <b>Contact details:</b><br>
      Phone:<br>
      Email: stefanredl&#64;gmx.at<br>
      Fax:
    </p>
    <p>
      <b>Applicable legislation:</b> www.ris.bka.gv.at<br>
      <b>Professional title:</b>
    </p>
    <p>
      <b>Online dispute resolution:</b>
      Consumers ... 
      <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">ODR platform</a>
    </p>
    <p>
      <b>Copyright:</b> The contents of this website ...
    </p>
    <p>
      <b>Disclaimer:</b> Despite careful checking ...
    </p>
    <p>
      Source: 
      <b>
        <a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php" target="_blank" rel="noopener">
          Imprint Generator Austria
        </a>
      </b>
    </p>
</div>
  